<div class="generetab col-sm-12" ng-init="getgeneres()">
	<div class="genere-content col-sm-12" ng-repeat="genere in generes | filter:searchText">			  			
		<span>{{genere}}</span>
		<span class="text-center close-btn glyphicon glyphicon-remove" ng-attr-data-generename = "{{genere}}" style="float:right; cursor:pointer" ng-click="delgenere(genere)"></span>
	</div>
	<div class="text-center">
	<button type="button" name="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addgenere" ng-click=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Genere &nbsp;</button>		        	
</div>
<div class="modal fade" id="addgenere" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Genere</h4>
        </div>
        <div class="modal-body">
          <form class="form-group" name="developerform">               
                <label>Genere Name : </label>
                <input class="form-control" id="appname" type="text" placeholder="Genere Name" ng-model="generename" required="" />
          </form>
        </div>
        <div class="modal-footer">					            
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-disabled="developerform.$invalid" ng-click="addgenere(generename)">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>